body {
  font-family: 'Varela Round', sans-serif;
  font-size: 100%;
  font-weight: 700;
  text-align: center;
}

.card-title {
  font-size: 1.25em;
  font-weight: 700;
}

.card {
  margin-bottom: 0;
  border: none;
}

.contact-panel {
  margin-top: 0.75em;
}

.yell {
  margin-top: 1em;
}

.card-text {
  font-weight: 400;
}

.jumbotron {
  background-color: black;
  padding: 0.5em 0;
  margin-bottom: 1em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

#title-the {
  font-size: 0.5em;
  color: white;
}

#title-pressing {
  font-size: 1.25em;
  color: yellow;
}

#title-station {
  font-size: 1.25em;
  color: black;
  background-color: white;
  padding: 0em 0.5em;
}

#service {
  font-size: 0.75em;
  color: white;
  padding: 1em 0;
}

#motto {
  text-transform: none;
  font-size: 0.75em;
  color: white;
  font-family: 'Indie Flower', cursive;
}

#map {
  width: 100%;
}

.address {
  margin-bottom: 0;
}